body {
  /*padding: 10px;*/
  font-family: helvetica;
  text-align: center;
  /*background-color: gainsboro;*/
}

h3 {

}

h5 {
  margin: 5px;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
}

.flex-container > div {
  width: 100%;
  margin: 25px;
  background-color: gainsboro;
}

#reps {
  color: red;
  text-decoration: underline;
}

#dems {
  color: blue;
  text-decoration: underline;
}
